src/main/java/generatedclasses/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.server/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://impl.server/" name="HelloWebServiceImplService">
    <import namespace="http://server/" location="http://localhost:1986/wss/hello?wsdl=1"/>
    <binding xmlns:ns1="http://server/" name="HelloWebServiceImplPortBinding" type="ns1:HelloWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getCalories">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getByeString">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getHelloString">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getProteins">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getCurrentTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getHarbohydrates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
        <operation name="getFats">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://server/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://server/"/>
            </output>
        </operation>
    </binding>
    <service name="HelloWebServiceImplService">
        <port name="HelloWebServiceImplPort" binding="tns:HelloWebServiceImplPortBinding">
            <soap:address location="http://localhost:1986/wss/hello"/>
        </port>
    </service>
</definitions>